DB_HOST=localhost               # Хост для базы данных
DB_PORT=port                    # Порт для базы данных
DB_NAME=dbname                  # Имя базы данных
DB_USER=username                # Имя пользователя базы данных
DB_PASSWORD=password            # Пароль базы данных